/* BODY */
a {
    text-decoration: none !important;
    color: darkslategray;
}

a:hover {
    color: green;
}

/* HERO */
.slideshow-container {
    position: relative;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
}


.mySlides img {
    width: 100%;
    height: 660px;
    object-fit: cover;
  
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255, 249, 249, 0.8);
}

/* Caption text */

.hero-order-btn {
    position: absolute;
    background-color: #ff7b00bb;
    top: 10%;
    left: 42.5%;
    color: white;
    font-size: 1.2rem;
    font-family: 'Martel';
    font-weight: 500;
    border-radius: 25px;
    max-width: 20%;
}

.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #ff7b00bb;
    color: gray;
    box-shadow: 0 0 0 0.2rem #50505048;
}

.hero-order-btn:active {
    background-color: #ff7b00bb;
    color: white;
    box-shadow: 0 0 0 0.2rem #ffffff48;
}

.hero-citation {
    position: absolute;
    bottom: 18%;
    left: 10%;
    padding: 2rem;
    background-color: #27272754;
}
.hero-title {
    color: white;
    font-size: 1.8rem;
    font-family: 'Martel';
    font-weight: 700;
}
.hero-subtitle {
    color: white;
    font-size: 1.5rem;
    font-family: 'Kanit';
    font-weight: 300;
}


/* Section */

.row-background {
    background-color:antiquewhite;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row-section {
    margin: auto;
}

.row-section img {
    max-width: 100%;
}

.row-title {
    font-size: 2rem;
    font-family: 'Frank Ruhl Libre';
}


.row-image h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

.row-image {
    font-family: 'Kanit';
    font-size: 1rem;
    font-weight: 200;
}

.ver-mais {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    font-family: 'Frank Ruhl Libre';
    font-weight: 500;
}


/* Items List */
.btn-element-border {
    padding: 0;
    margin: 0;
    border-radius: 100px;
    height: 20px;
}
.btn-element {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    border-radius: 100px;
}

.form-submit-list {
    padding: 0;
    margin: 0;
}

.form-submit-list-item {
    list-style-type: none;
}
.add-item-form {
    background-color: #ecebeb;
}

/* Footer */

footer .row {
    justify-content: center;
}

.copy {
    display: flex;
    justify-content: end;
}

