/* BODY */
a {
    text-decoration: none !important;
    color: darkslategray;
}

a:hover {
    color: green;
}

.navbar {
    font-family: "Martel", sans-serif;
}
.navbar-logo {
    width: 12%;
}

.navbar-hr {
    border-top: solid 2px antiquewhite;
}

/* Section */

.hr-section {
    max-width: 1140px;
}

.row-background {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row-section {
    margin: auto;
}

.row-section img {
    max-width: 100%;
}

.row-title {
    font-size: 2rem;
    font-family: 'Frank Ruhl Libre', serif;
}


.row-image h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

.row-image {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    
}

.row-image-home {
    justify-content: center;
    display: flex;
}

.ver-mais {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
}


/* Items List */

.image-avatar {
    max-height: 100px;
}

.btn-element-border {
    padding: 0;
    margin: 0;
    border-radius: 100px;
    height: 20px;
}
.btn-element {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    border-radius: 100px;
}

.form-submit-list {
    padding: 0;
    margin: 0;
}

.form-submit-list-item {
    list-style-type: none;
}

.form-submit-list-item h4 {
    font-weight: 300;
    display: flex;
}

.form-submit-list-item p {
    font-weight: 200;
    margin-left: 5px;
    display: flex;
}

.add-item-form {
    background-color: #ecebeb;
}

/* Login */
.login-container {
    font-family: 'Martel', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    margin-bottom: 20px;
  }
  
  .button-container {
      display: flex;
      justify-content: center;
      font-family: 'Kanit', sans-serif;
    }
    
    .login-form {
      background-color: antiquewhite;
      padding: 2rem;
      border-radius: 25px;
      box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.055), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  
/* Footer */

footer {
    margin-top: 30px;
}

footer .row {
    justify-content: center;
}

.copy {
    display: flex;
    justify-content: end;
}

